<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <h1>Registration complete</h1>
    <p>List of users :</p>
    <hr />
    <% data.forEach((user)=>{ %>
    <h3><%= user.firstName + ' ' + user.lastName %></h3>
    <hr />
    <% }) %>
    <a href="/add">Add user</a>
    <script src="server.js"></script>
  </body>
</html>
